<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" [(ngModel)]="user.email" 
                class="form-control" 
                id="email" 
                name="email" 
                placeholder="Unesite email"
                required #email="ngModel">
            </div>
            <div [hidden]="!email.pristine" class="alert alert-danger">Email je obavezan</div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" [(ngModel)]="user.password" 
                class="form-control" 
                id="password" 
                name="password" 
                placeholder="Unesite password"
                required #password="ngModel">
              <div [hidden]="!password.pristine" class="alert alert-danger">Password je obavezan</div>
            </div>
            <button type="submit" [disabled]="!userForm.form.valid" 
              class="btn btn-info">Prijavi se</button>
        </form>
    </div>
</div>