<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Ime</th>
            <th scope="col">Prezime</th>
            <th scope="col">Password</th>
            <th scope="col">Adresa</th>
            <th scope="col">Drzava</th>
            <th scope="col">JBO</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pacijent of pacijenti">
            <td>{{ pacijent.id }}</td>
            <td>{{ pacijent.ime }}</td>
            <td>{{ pacijent.prezime }}</td>
            <td>{{ pacijent.password }}</td>
            <td>{{ pacijent.adresa }}</td>
            <td>{{ pacijent.drzava }}</td>
            <td>{{ pacijent.jedinstveniBrOsiguranika }}</td>
            <td><a href="mailto:{{ pacijent.email }}">{{ pacijent.email }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>